@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* @import '@mdi/font/css/materialdesignicons.min.css'; */

/* @font-face {
  font-family: 'MaterialDesignIcons';
  src:
    url('../../fonts/materialdesignicons-webfont.woff2') format('woff2'),
    url('../../fonts/materialdesignicons-webfont.woff') format('woff'),
    url('../../fonts/materialdesignicons-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
